.sconsign.*
__pycache__
*.pyc
*.o
*.a
*.cover
*.swp
*.swn
*.swo
tags
cscope.*
*.bobc
*.exe
*.orig

# cmake
CMakeFiles
CMakeCache*
cmake_install*

*.egg-info

.vscode

# Binaries
barevm/barevm
barevm/barevm_unittest
barevm/build
